In [16]:
import pandas as pd 
import numpy as np

In [17]:
# df = pd.read_excel('SPFmicrodata.xlsx')
xls = pd.ExcelFile('SPFmicrodata.xlsx')
df1 = pd.read_excel(xls, 'PRGDP')
df2 = pd.read_excel(xls, 'PRPGDP')
df3 = pd.read_excel(xls, 'PRUNEMP')
df4 = pd.read_excel(xls, 'PRCCPI')
df5 = pd.read_excel(xls, 'PRCPCE')
df2.head()

,YEAR,QUARTER,ID,INDUSTRY,PRPGDP1,PRPGDP2,PRPGDP3,PRPGDP4,PRPGDP5,PRPGDP6,...,PRPGDP11,PRPGDP12,PRPGDP13,PRPGDP14,PRPGDP15,PRPGDP16,PRPGDP17,PRPGDP18,PRPGDP19,PRPGDP20
0,1968,4,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1968,4,2,NaN,0.0,0.0,0.0,20.0,40.0,40.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,1968,4,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1968,4,4,NaN,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,1968,4,5,NaN,1.0,1.0,2.0,2.0,3.0,5.0,...,25.0,10.0,5.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN

In [18]:
df2.groupby(['YEAR','QUARTER']).count()

               ID  INDUSTRY  PRPGDP1  PRPGDP2  PRPGDP3  PRPGDP4  PRPGDP5  \
YEAR QUARTER
1968 4         87         0       84       84       84       84       84
1969 1         65         0       60       60       60       60       60
     2         59         0       58       58       58       58       58
     3        128         0      106      106      106      106      106
     4         57         0       54       54       54       54       54
...           ...       ...      ...      ...      ...      ...      ...
2020 1         37        37       30       30       30       30       30
     2         42        42       35       35       35       35       35
     3         35        35       26       26       26       26       26
     4         37        37       28       28       28       28       28
2021 1         39        39       31       31       31       31       31

              PRPGDP6  PRPGDP7  PRPGDP8  ...  PRPGDP11  PRPGDP12  PRPGDP13  \
YEAR QUARTER                             ...
1968 4             84       84       84  ...        84        84        84
1969 1             60       60       60  ...        60        60        60
     2             58       58       58  ...        58        58        58
     3            106      106      106  ...       106       106       106
     4             54       54       54  ...        54        54        54
...               ...      ...      ...  ...       ...       ...       ...
2020 1             30       30       30  ...        30        30        30
     2             35       35       35  ...        35        35        35
     3             26       26       26  ...        27        27        27
     4             28       28       28  ...        28        28        28
2021 1             31       31       31  ...        31        31        31

              PRPGDP14  PRPGDP15  PRPGDP16  PRPGDP17  PRPGDP18  PRPGDP19  \
YEAR QUARTER
1968 4              84        84         0         0         0         0
1969 1              60        60         0         0         0         0
     2              58        58         0         0         0         0
     3             106       106         0         0         0         0
     4              54        54         0         0         0         0
...                ...       ...       ...       ...       ...       ...
2020 1              30        30        30        30        30        30
     2              35        35        35        35        35        35
     3              27        27        27        27        27        27
     4              28        28        28        28        28        28
2021 1              31        31        31        31        31        31

              PRPGDP20
YEAR QUARTER
1968 4               0
1969 1               0
     2               0
     3               0
     4               0
...                ...
2020 1              30
     2              35
     3              27
     4              28
2021 1              31

[210 rows x 22 columns]

In [19]:
df.describe()

,YEAR,QUARTER,ID,INDUSTRY,PRGDP1,PRGDP2,PRGDP3,PRGDP4,PRGDP5,PRGDP6,...,PRGDP35,PRGDP36,PRGDP37,PRGDP38,PRGDP39,PRGDP40,PRGDP41,PRGDP42,PRGDP43,PRGDP44
count,8498.000000,8498.000000,8498.000000,4848.000000,7760.000000,7760.000000,7760.000000,7760.000000,7760.000000,7760.000000,...,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.000000,1187.00000,1187.000000,1190.000000
mean,1993.181925,2.528007,291.524359,1.660685,2.240384,5.293789,12.415489,20.481268,25.766183,16.029535,...,2.196347,7.628945,21.308482,32.990137,20.556910,9.181502,3.737180,1.14653,0.388406,0.159010
std,16.448087,1.123734,212.987902,0.576843,10.609346,14.959254,22.440394,25.423663,27.234670,21.734830,...,4.823155,9.322736,15.010017,16.372527,13.248124,8.249663,4.832446,2.17006,1.083071,0.627097
min,1968.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1977.000000,2.000000,70.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,10.000000,20.000000,11.000000,3.000000,0.000000,0.00000,0.000000,0.000000
50%,1994.000000,3.000000,411.000000,2.000000,0.000000,0.000000,0.000000,10.000000,18.000000,5.690000,...,0.000000,5.000000,20.000000,30.000000,20.000000,9.000000,2.000000,0.00000,0.000000,0.000000
75%,2008.000000,4.000000,500.000000,2.000000,0.000000,1.000000,15.000000,30.000000,42.000000,25.000000,...,3.000000,11.450000,29.855000,40.000000,25.000000,13.000000,5.000000,1.25000,0.000000,0.000000
max,2021.000000,4.000000,591.000000,3.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,70.000000,70.000000,100.000000,100.000000,90.000000,50.000000,50.000000,25.00000,10.000000,6.400000

In [20]:
df

,YEAR,QUARTER,ID,INDUSTRY,PRGDP1,PRGDP2,PRGDP3,PRGDP4,PRGDP5,PRGDP6,...,PRGDP35,PRGDP36,PRGDP37,PRGDP38,PRGDP39,PRGDP40,PRGDP41,PRGDP42,PRGDP43,PRGDP44
0,1968,4,1,NaN,0.0,0.0,0.0,0.0,60.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968,4,2,NaN,0.0,0.0,0.0,20.0,40.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968,4,3,NaN,0.0,0.0,0.0,40.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968,4,4,NaN,0.0,0.0,5.0,15.0,40.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968,4,5,NaN,3.0,4.0,5.0,5.0,10.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8493,2021,1,586,2.0,0.0,0.0,6.7,46.6,27.7,11.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8494,2021,1,587,2.0,0.0,0.0,30.0,45.0,20.0,5.0,...,0.0,0.0,5.0,25.0,45.0,20.0,5.0,0.0,0.0,0.0
8495,2021,1,588,1.0,0.0,2.0,15.0,51.0,25.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8496,2021,1,589,2.0,0.0,0.0,0.0,60.0,30.0,10.0,...,0.0,0.0,0.0,60.0,40.0,0.0,0.0,0.0,0.0,0.0
8497,2021,1,591,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df1.to_csv('PRGDP.csv',index=False)
df2.to_csv('PRPGDP.csv',index=False)
df3.to_csv('PRUNEMP.csv',index=False)
df4.to_csv('PRCCPI.csv',index=False)
df5.to_csv('PRCPCE.csv',index=False)

In [31]:
dff1 = pd.read_csv('PRCPCE.csv')

In [33]:
dff1.describe()

,YEAR,QUARTER,ID,INDUSTRY,PRCPCE1,PRCPCE2,PRCPCE3,PRCPCE4,PRCPCE5,PRCPCE6,...,PRCPCE11,PRCPCE12,PRCPCE13,PRCPCE14,PRCPCE15,PRCPCE16,PRCPCE17,PRCPCE18,PRCPCE19,PRCPCE20
count,8498.000000,8498.000000,8498.000000,4848.000000,1896.000000,1896.000000,1896.000000,1896.000000,1896.000000,1896.000000,...,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000,1867.000000
mean,1993.181925,2.528007,291.524359,1.660685,0.171507,0.364454,1.566448,7.113266,23.885693,35.411111,...,0.338516,0.716309,2.841221,11.043294,27.663195,31.831139,16.259110,6.526584,2.111278,0.669328
std,16.448087,1.123734,212.987902,0.576843,1.200758,1.770707,4.655101,11.036447,20.813661,22.204804,...,1.782998,2.433003,5.577212,12.578320,17.333297,17.259064,14.408386,10.250083,5.564372,2.857202
min,1968.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1977.000000,2.000000,70.000000,1.000000,0.000000,0.000000,0.000000,0.000000,5.000000,20.000000,...,0.000000,0.000000,0.000000,0.000000,15.000000,20.000000,5.000000,0.000000,0.000000,0.000000
50%,1994.000000,3.000000,411.000000,2.000000,0.000000,0.000000,0.000000,1.633250,20.000000,35.000000,...,0.000000,0.000000,0.000000,8.000000,25.000000,30.000000,15.000000,2.000000,0.000000,0.000000
75%,2008.000000,4.000000,500.000000,2.000000,0.000000,0.000000,0.105000,10.000000,40.000000,50.000000,...,0.000000,0.000000,5.000000,15.000000,40.000000,40.000000,25.000000,10.000000,2.000000,0.000000
max,2021.000000,4.000000,591.000000,3.000000,28.200000,30.000000,80.000000,90.000000,100.000000,100.000000,...,38.200000,40.000000,60.000000,85.000000,90.000000,100.000000,90.000000,75.000000,60.000000,50.000000